
<div class="container-fluid">
   
    <div class="container p-xl-3 p-lg-3 p-md-2 p-sm-2 p-2">
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                <div class="p-xl-3 p-lg-3 p-md-2 p-sm-2 p-2">
                    <div class="row login-card p-xl-3 p-lg-3 p-md-2 p-sm-2 p-2">
                        <h1 class="fs-5 mb-3">Login</h1>
                        <div class="col-12 mb-3">
                            <mat-form-field class="example-full-width w-100 mat-form-field">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="abc@gmail.com" value="">
                              </mat-form-field>
                            
                        </div>
                        <div class="col-12 mb-3">
                            <mat-form-field class="example-full-width w-100">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" value="">
                              </mat-form-field>
                            
                        </div>
                        <div class="col-12">
                            <button mat-flat-button class="float-end login-btn" (click)="onLogin()">Login</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <a routerLink="/register" class="text-primary register-link">Don't have an account? Register here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
</div>